<div class="container">
  {{#each expenses}}
  <li>
    {{this.name}}
    {{this.date}}
    {{this.category}}
    {{this.amount}}
  </li>
  {{/each}}

  <a class="btn btn-primary" href="/expense/new" role="button">新增支出</a>
</div>